@{
    ViewBag.Title = "Inicio";
}

<div class="portada">
    <img src="~/Image/encabezado1.jpg" class="img-fluid" alt="Responsive image"/>
</div>
<div class="Social">
    <div>
        <p class="rSocial"><b>IM&M S.A.C</b></p>
        <p class="actividades"><b>Servicio de Mantenimiento Industrial</b></p>
        <p class="Rsocial"><b>INTEGRACIÓN DE MANUFATURA Y MANTENIMIENTO S.A.C</b></p>
        <p class="actividades"><b>Diseño - Fabricación - Montaje - Mantenimiento</b></p>
    </div>
</div>