@{
    ViewBag.Title = "Inicio";
}

<section class="contenido">
    <h2>SERVICIOS INDUSTRIALES EN LA REGION LIMA-PROVINCIAS</h2>
    </br>
    <p style="padding-left: 150px;padding-right: 150px;">Somos una empresa creada con el fin de poder ofrecer los Servicios de Mantenimiento Industrial, 
        Diseño, Planificación y Ejecución de Proyectos Mecánicos, Eléctricos y Automatización, 
        todo lo que usted requiera para mejorar sus procesos productivos.</p>
</section>